.createBtn {
  margin-left: 50%;
  position: absolute;
  top: 45%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.joinBtn {
  margin-left: 50%;
  position: absolute;
  top: 55%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.heading3 {
  padding: 3.5%;
}

.backButton1 {
  margin-top: 4%;
  margin-bottom: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
}
