.body-div {
  margin-top: 2%;
  text-align: center;
}

.cards {
  display: flex;
  justify-content: center;
  margin-top: 8%;
}

.card1 {
  margin-right: 10%;
}

.h2 {
  margin-left: 3%;
}

.btn {
  margin-left: 1.2%;
  margin-bottom: 1.2%;
}
