.body-div {
  margin-top: 2%;
  text-align: center;
  overflow: hidden;
}

.cards {
  margin-top: 2%;
  display: grid;
  justify-content: center;
  grid-auto-flow: column;
  grid-column-gap: 4%;
}

.card4 {
  margin-left: 50%;
  position: absolute;
  transform: translate(-50%, 8%);
}

.h2 {
  margin-left: 3%;
}

.btn {
  margin-left: 1.2%;
  margin-bottom: 1.2%;
}
