.body-div {
  margin-top: 10%;
  text-align: center;
  margin-top: 15%;
  overflow-x: hidden;
  margin-bottom: 10%;
}

.cards {
  margin-top: 14vh;
  display: grid;
  justify-content: center;
  grid-auto-flow: column;
  grid-column-gap: 4%;
}

.card4 {
  margin-left: 50%;
  position: absolute;
  transform: translate(-50%, 8%);
}

.h2 {
  margin-left: 3%;
}

.btn {
  margin-left: 1.2%;
  margin-bottom: 1.2%;
}
