.joinChatContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  background: #14283b;
}

.chat-window {
  position: absolute;
  height: 63vh;
  width: 53%;
  z-index: 15;
  margin-left: 50%;
  position: absolute;
  top: 44%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: #151a21;
  border-radius: 20px;
  border-color: var(--hover);
  border-width: thick;
}

.chat-window p {
  margin: 0;
}
.chat-window .chat-header {
  background: #151a21;
  margin-top: 0;
  height: 13%;
  color: #f8fafc;
  position: relative;
  cursor: pointer;
}

.chat-window .chat-header p {
  display: block;
  background: #151a21;
  font-weight: 700;
  line-height: 290%;
}

.chat-window .chat-body {
  height: calc(100% - (45px + 70px));
  border: 1px solid #263238;
  background: #14283b;
  position: relative;
}

.chat-window .chat-body .message-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.chat-window .chat-body .message-container::-webkit-scrollbar {
  display: none;
}

.chat-window .chat-body .message {
  height: auto;
  padding: 10px;
  display: flex;
}

.chat-window .chat-body .message .message-content {
  width: auto;
  height: auto;
  min-height: 50px;
  max-width: 120px;
  background-color: #94153b;
  border-radius: 5px;
  color: #f8fafc;
  display: flex;
  align-items: center;
  margin-right: 5px;
  margin-left: 5px;
  padding-right: 5px;
  padding-left: 5px;
  overflow-wrap: break-word;
  margin-top: 10px;
  word-break: break-word;
}

#other {
  justify-content: flex-end;
}

#other .message-content {
  justify-content: flex-end;
  background-color: #312e81;
}

#other .message-meta {
  justify-content: flex-end;
  margin-right: 5px;
}

#leader .message-content {
  background-color: #064e3b;
}

#leader .message-meta {
  margin-right: 5px;
}

.message-meta #author {
  margin-left: 10px;
  font-weight: bold;
}

.chat-window .chat-body .message .message-meta {
  display: flex;
  font-size: 12px;
}

.chat-window .chat-footer {
  background-color: #151a21;
  width: 100%;
  height: 56px;
  border-radius: 10px;
  border: 1px solid #263238;
  border-top: none;
  display: inline-block;
  align-self: flex-end;
}

.chattitle:hover {
  cursor: pointer;
}

.chat-window .chat-footer button {
  height: 100%;
  width: 100%;
  border: 0;
  cursor: pointer;
  flex: 15%;
  outline: none;
  font-size: 18px;
}

.hide {
  opacity: 0 !important;
}

a {
  color: #3b82f6;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: black;
}

.chat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.item {
  min-width: 30vw;
  min-height: 10vh;
  padding-top: 4%;
  margin-bottom: 3%;
  padding-top: 0%;
}

.item:hover {
  cursor: pointer;
}
